* {
  margin: 0px;
  padding: 0px;
}

.ticket-form {
  padding: 25px;
}

.main-body {
  display: grid;
  width: 90%;
  margin-left: 5%;
  grid-template-columns: 20% 80%;
}

.add-ticket {
  margin-left: 100px;
}

.header {
  font-family: Arial;
}

.card-button {
  color: yellow;
  width: 20%;
  margin-top: 4%;
  margin-left: 80%;
  display: inline;
}

.mycard {
  margin: 2%;
}
